<div class="p-5 bg-light">
  <div class="container">
    <h1 class="display-3">Vive le numérique</h1>
    <p class="lead">Rétrouvez tous nos ateliers gratuits disponibles pour les personnes interessées par le numérique</p>
  </div>
</div>